@charset "utf-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ================== Style ================== */
/* --- root --- */
:root {
  --bg: linear-gradient(#49bdaa 5%, #449999 40%, #338899 100%);
  --bg-layer: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  --font-size: 3.5vh;
  --space: 2vmin;
  --opacity-dim: 0.7;
  --button-selected: #ffbb44;
  --button-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  --button-space: 5px;
  --button-bg: #eef2ff;
  --button-bg-active: rgba(20, 180, 200, 0.2);
  --button-text: #497283;
  --button-side-bg: #cce0ec;
  --button-side-text: #447788;
  --button-point-bg: #ee8833;
  --button-point-bg-active: rgba(180, 10, 10, 0.3);
  --button-point-text: white;
  --right-font-size: 40px;
  --right-way-font-size: 20px;
}

/* ================== Animation ================== */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ================== Reset ================== */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-size);
  font-weight: 500;
  box-sizing: border-box;
}
button,
button * {
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}
sup {
  font-size: 1.5vh;
}
ul,
li {
  list-style: none;
}

/* ================== Class ================== */
.bg {
  background: var(--bg);
}
.button:where(*) {
  position: relative;
  background: var(--button-bg);
  color: var(--button-text);
}
.button_side:where(*) {
  background: var(--button-side-bg);
  color: var(--button-side-text);
}
.button_point:where(*) {
  background: var(--button-point-bg);
  color: var(--button-point-text);
}
:where(
    :where(.button, .button_side, .button_point):active,
    .button_use
  )::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-bg-active);
  animation: appear 0.18s forwards;
  content: '';
  border-radius: 10px;
}
.button_point:active::after {
  background: var(--button-point-bg-active);
}
.colunm {
  display: flex;
  flex-direction: column;
}
.appear {
  animation: appear 0.2s forwards;
}
.disappear {
  animation: disappear 0.2s forwards;
}

/* ================== Root Layout ================== */
/* --- Root --- */
.App {
  display: flex;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
}

/* --- Nav --- */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}
nav * {
  width: 0;
  opacity: 0;
}

/* --- Left-Right --- */
.left {
  flex-basis: 930px;
  flex-grow: 0;
  background: var(--bg-layer);
}
.right {
  display: none;
  flex-grow: 1;
  background: var(--bg-layer);
  * {
    color: white;
    font-size: var(--right-font-size);
  }
}
/* head */
.head {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 5px 0;
  max-height: 60px;
  * {
    color: white;
  }
}
.button_menu {
  margin-left: 20px;
  border: none;
  position: relative;
  float: left;
  font-size: 20px;
}
.button_nav {
  display: inline-block;
  font-size: 26px;
  transform: scaleX(1.1);
}
.title {
  margin-left: 20px;
  float: left;
  font-size: 20px;
}
/* content */
.body {
  flex: 1;
  padding: var(--space);
}
.left .body {
  margin: auto; /* 가운데 정렬 */
  width: 100%; /* 최대크기로 */
  max-width: 800px; /* 800px이하 */
}
.right .body {
  display: none;
  overflow-y: scroll; /* 스크롤 가능 */
  opacity: 0; /* 애니메이션 기본은 0부터 */
}

/* ================== Left Layout ================== */
/* --- 계산기 --- */
/* 결과창 */
.cal_output {
  align-items: end;
  flex: 1;
  text-align: right;
}
.cal_way {
  min-height: 20px;
  font-size: 20px;
  color: white;
  opacity: var(--opacity-dim);
}
.cal_num {
  flex-grow: 1;
  margin-bottom: var(--space);
  width: fit-content;
  font-weight: 800;
  line-height: 100%;
  color: white;
}
/* 버튼 */
.cal_button_box {
  display: grid;
  gap: var(--button-space);
  flex: 19;
  grid-template-columns: repeat(4, 1fr);
}
.cal_button {
  box-shadow: var(--button-shadow);
  position: relative;
  border-radius: 10px;
  * {
    font-size: 100%;
  }
  .material-icons {
    vertical-align: -11%;
    font-size: 100%;
    font-weight: 100;
  }
  sup {
    display: inline-block;
    font-size: 50%;
    font-weight: 900;
  }
  .frasl sup {
    text-indent: 20%;
  }
  .frasl span {
    font-size: 100%;
    font-weight: 500;
  }
  .radic {
    position: relative;
  }
  .radic sup {
    text-indent: -90%;
  }
  .radic span {
    position: absolute;
    top: 50%;
    left: 39%;
    font-size: 100%;
    font-weight: 500;
    transform: translate(-50%, -50%);
  }
}

/* ================== Right Layout ================== */
/* --- head 버튼 --- */
.open::after {
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 25px;
  height: 5px;
  background: var(--button-selected);
  content: '';
  border-radius: 2.5px;
  transform: translateX(-50%);
}

/* --- 기록 --- */
.output_list {
  margin-bottom: 20px;

  .way {
    font-size: var(--right-way-font-size);
    opacity: var(--opacity-dim);
  }
}
