@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg: linear-gradient(#5acebb 5%, #55aaaa 40%, #4499aa 100%);
  --text: white;
  --button-shadow: rgba(0, 0, 0, 0.3);
  --button-bg: #eef2ff;
  --button-text: #497283;
  --button-side-bg: #cce0ec;
  --button-side-text: #447788;
  --button-point-bg: #ee8833;
  --button-point-text: white;
  --button-space: 1vmin;
}
.bg {
  background: var(--bg);
}
.text {
  color: var(--text);
}
.button:where(*) {
  background: var(--button-bg);
  color: var(--button-text);
}
.button-side:where(*) {
  background: var(--button-side-bg);
  color: var(--button-side-text);
}
.button-point:where(*) {
  background: var(--button-point-bg);
  color: var(--button-point-text);
}

/* ============ */

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
button,
button * {
  font-weight: 700;
  cursor: pointer;
}

/* --- */
/* 상 공통 */
.head {
  display: flex;
  align-items: center;
  flex-basis: 60px;
}

/* 좌 - 메뉴, 계산기라인 */
.left {
  display: flex;
  flex-basis: 700px;
  flex-grow: 0;
}
/* 좌1 - 메뉴 */
nav {
  width: 0;
}
nav * {
  opacity: 0;
}
/* 좌2 - 계산기라인 */
.left_content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* 좌상 - 메뉴, 타이틀 */
.nav_open {
  border: none;
  width: 70px;
  float: left;
  background-color: transparent;
  font-size: 30px;
  transform: scaleX(1.3);
}
.title {
  float: left;
}

/* 좌하 - 계산기 */
.calculator {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--button-space);
}
/* 계산기 출력란 */
.cal_output {
  display: flex;
  flex: 2;
  flex-direction: column;
  min-height: 100px;
  text-align: right;
}
/* 계산기 출력란 - 1작게 계산식 출력 */
.cal_way {
  flex: 3;
  font-size: 20px;
}
/* 계산기 출력란 - 2크게 입력 숫자 출력 */
.cal_num {
  flex: 8;
  font-size: 50px;
  font-weight: 800;
}
.cal_buttons {
  display: grid;
  gap: var(--button-space);
  flex: 8;
  grid-template-columns: repeat(4, 1fr);
}
.cal_button {
  box-shadow: 2px 2px 2px var(--button-shadow);
  border-radius: 10px;
}

/* --- */
/* --- */

/* 우 - 기록 */
.right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.right_body {
  flex: 1;
}
